<h3>Usuarios</h3>
<div>
  <ul>

    <li *ngFor="let user of users">
      <span class ="medium-text">Usuario {{user.name}}</span>
        <button class="custom-button" (click)="deleteUser(user.name)" >
          <div style="font-size:large; color:White">
            <i class="fas fa-trash"></i>
          </div>
        </button>
        <br/>
        <span class ="medium-text">Ultimo acceso:  {{user.last_access}}</span>
      <hr/>
    </li>
  </ul>
</div>
<div>
    <button (click)="createUser()">Add user</button>
 </div>
